const mysql = require("mysql2");

const pool = mysql.createPool({
connectionLimit: 5,
host: "localhost",
user: "root",
database: "skillbox",
password: "root"
});

// берём Express
var express = require('express');

// создаём Express-приложение
var app = express();


// создаём маршрут для главной страницы
// http://localhost:3000/
app.get('/', function(req, res) {
res.sendfile('index.html');
});

app.get('/hc', function(req, res) {


var name = 'hello';
res.render(__dirname + "/hc.html", {name:name});
//  res.sendfile('hc.html');
});

app.use(express.static(__dirname + '/public'));

// запускаем сервер на порту 8080
app.listen(3000);
// отправляем сообщение
console.log('Сервер стартовал!');

// получение списка пользователей
app.get("/mysql", function(req, res){
pool.query("SELECT * FROM skillbox.students", function(err, data) {
if(err) return console.log(err);
res.render("mysql.hbs", {
users: data
});
});
});